<!DOCTYPE html>
<html>
    <head>
        <title>Reedsville Chimes</title>
        <link rel="stylesheet" href="app.css">
    </head>
    <body>
        <h2>Now Playing</h2>
        <!-- <div class="songinfo"><span class="songtitle"><%= songtitle %></span><span class="playtime">Sunday, October 16 8:20am</span></div>
        <div class="songinfo"><span class="songtitle" id="nowplaying">Whispering Hope</span><span class="playtime">Sunday, October 16 8:20am</span></div>
        <div class="songinfo"><span class="songtitle">It Is Well With My Soul</span><span class="playtime">Sunday, October 16 8:20am</span></div>
        <div class="songinfo"><span class="songtitle">How Great Thou Art</span><span class="playtime">Sunday, October 16 8:20am</span></div>
        <div class="songinfo"><span class="songtitle">In The Garden</span><span class="playtime">Sunday, October 16 8:20am</span></div> -->
        <form action="">
            <input id="m" autocomplete="off" /><button>Send</button>
        </form>

        <h2>Playing Next</h2>
        <div class="songinfo"><span class="songtitle">Little Brown Church in the Wildwood</span><span class="playtime">Sunday, October 16 8:20am</span></div>
        <div class="songinfo"><span class="songtitle">Whispering Hope</span><span class="playtime">Sunday, October 16 8:20am</span></div>
        <div class="songinfo"><span class="songtitle">It Is Well With My Soul</span><span class="playtime">Sunday, October 16 8:20am</span></div>
        <div class="songinfo"><span class="songtitle">How Great Thou Art</span><span class="playtime">Sunday, October 16 8:20am</span></div>
        <div class="songinfo"><span class="songtitle">In The Garden</span><span class="playtime">Sunday, October 16 8:20am</span></div>

        <h2>Previously Played</h2>
        <div class="songinfo"><span class="songtitle">Little Brown Church in the Wildwood</span><span class="playtime">Sunday, October 16 8:20am</span></div>
        <div class="songinfo"><span class="songtitle">Whispering Hope</span><span class="playtime">Sunday, October 16 8:20am</span></div>
        <div class="songinfo"><span class="songtitle">It Is Well With My Soul</span><span class="playtime">Sunday, October 16 8:20am</span></div>
        <div class="songinfo"><span class="songtitle">How Great Thou Art</span><span class="playtime">Sunday, October 16 8:20am</span></div>
        <div class="songinfo"><span class="songtitle">In The Garden</span><span class="playtime">Sunday, October 16 8:20am</span></div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.5.1/socket.io.min.js"></script>
        <script src="/js/chimes.js"></script>
    </body>
</html>
