<!DOCTYPE html>
<html>
    <head>
        <title>Reedsville Chimes</title>
        <link rel="stylesheet" href="app.css">
        <link rel="stylesheet" href="lato.css">
    </head>
    <body>
        <div id="nowplaying">
            <h2>Now Playing</h2>
            <div class="songinfo"><span id="nowplayingsong" class="songtitle">Whispering Hope</span><span id="nowplayingtime" class="playtime">Sunday, October 16 8:20am</span></div>
        </div>

        <div id="action-btns">
            <div class="col">
                <button id="restart-btn">Restart</button>
            </div><div class="col">
                <button id="shutdown-btn">Shutdown</button>
            </div>
        </div>

        <h2>Playing Next</h2>
        <div class="songinfo"><span id="nextsong1" class="songtitle"> </span><span id="nexttime1" class="playtime"> </span></div>
        <div class="songinfo"><span id="nextsong2" class="songtitle"> </span><span id="nexttime2" class="playtime"> </span></div>
        <div class="songinfo"><span id="nextsong3" class="songtitle"> </span><span id="nexttime3" class="playtime"> </span></div>
        <div class="songinfo"><span id="nextsong4" class="songtitle"> </span><span id="nexttime4" class="playtime"> </span></div>
        <div class="songinfo"><span id="nextsong5" class="songtitle"> </span><span id="nexttime5" class="playtime"> </span></div>

        <h2>Previously Played</h2>
        <div class="songinfo"><span id="previoussong1" class="songtitle">Test1</span><span id="previoustime1" class="playtime">Test1time</span></div>
        <div class="songinfo"><span id="previoussong2" class="songtitle">Test2</span><span id="previoustime2" class="playtime">Test2time</span></div>
        <div class="songinfo"><span id="previoussong3" class="songtitle">Test3</span><span id="previoustime3" class="playtime">Test3time</span></div>
        <div class="songinfo"><span id="previoussong4" class="songtitle">Test4</span><span id="previoustime4" class="playtime">Test4time</span></div>
        <div class="songinfo"><span id="previoussong5" class="songtitle">Test5</span><span id="previoustime5" class="playtime">Test5time</span></div>
        <script src="/socket.io/socket.io.js"></script>
        <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
        <script src="/js/chimes.js"></script>
    </body>
</html>
